@import "src/config/colors";

.layout {
  display: grid;
  grid-template-areas: "sidebar header"
                       "sidebar content"
                       "player player";
  grid-template-columns: 241px 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
}

.header {
  grid-area: header;
  &._light{
    background-color: $background-main-content-color-for-light-items
  }
  &._dark{
    background-color: $header_color
  }
}

.sidebar {
  grid-area: sidebar;
  &._light{
    background-color: $white;
  }
  &._dark{
    background-color: $black0;
  }
}

.player {
  grid-area: player;
  &._light{
    background-color: $background-color-for-light-player;
    color: $color-text-for-light-theme;
    border-top: 1px solid $player-border-light;
  }
  &._dark{
    background-color: $background-color-for-dark-player;
    color: $white;
    border-top: 1px solid $black40;
  }
}

.switch{
  background: $switch-color;
}

.main-content {
  grid-area: content;
  flex: 1;
  overflow-y: scroll;
  min-height: calc(((100vh - 64px) - 90px) - 519px);
  &._light{
    background: $background-main-content-color-for-light-items;
    &::-webkit-scrollbar {
      background-color: #b6b6b6;
    }
  }
  &._dark{
    background-color: $black26;
    &::-webkit-scrollbar {
      background-color: $black26;
    }
  }

  &::-webkit-scrollbar {
    width: 15px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    transition: .3s all ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

    &:active {
      background-color: rgba(255, 255, 255, .5);
    }
    width: 15px;
    border-radius: 2px;
  }
}
