@import "src/config/colors";

.layout {
  display: grid;
  grid-template-areas: "sidebar header"
                       "sidebar content"
                       "player player";
  grid-template-columns: 241px 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: $black0;
  padding: 0 8px;
}

.player{
  grid-area: player;
}

.main-content {
  flex: 1;
  overflow-y: scroll;
  background-color: rgb(26, 26, 26); //TODO: fix with theme
  min-height: calc(((100vh - 64px) - 90px) - 519px);

  &::-webkit-scrollbar {
    background-color: $black26;
    width: 15px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    transition: .3s all ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

    &:active {
      background-color: rgba(255, 255, 255, .5);
    }

    width: 15px;
    border-radius: 2px;
  }
}
