@font-face {
    font-family: 'Circular';
    font-weight: 700;
    src: local('Circular'),
    url(./assets/fonts/CircularStd-Bold.ttf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    src: local('Circular'),
    url(./assets/fonts/CircularStd-Medium.ttf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    src: local('Circular'),
    url(./assets/fonts/CircularStd-Book.ttf);
}

:root{
    font-family: 'Circular', 'Segoe UI', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Circular', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[id='root'] {
    width: 100%;
    height: 100%;
}
