@import "./src/config/colors";

.ant-menu.ant-menu-dark {
    background: $black0;
}

.menu {
    height: 100%;
    padding: 24px 8px 0;
    border: none;
    font-weight: bold;
}

.home-logo {
    display: flex;
    justify-content: flex-start;
    width: 225px;
    height: 47px;
    margin-bottom: 18px;
}

#menu__item, #create-playlist, #favourite-tracks, #my-playlists {
    display: flex;
    justify-items: start;
    align-items: center;
    padding: 0 8px;
    height: 55px;
    gap: 16px;
}

#create-playlist{
    margin-top: 20px;
}

.ant-menu-item-selected{
    border-radius: 4px;
}

.ant-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: $hover-color-for-light-items;
    color: $black0;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $black40;
    color: $white;
}
