@import "./src/config/colors";

.ant-menu.ant-menu-dark {
  background: $black0;
}

.menu {
  height: 100%;
  padding: 24px 8px 0;
  border: none;
  font-weight: bold;
}

.home-logo {
  display: flex;
  justify-content: flex-start;
  width: 225px;
  height: 47px;
  margin-bottom: 18px;
}

#create-playlist, #favourite-tracks {
  display: flex;
  justify-items: start;
  align-items: center;
}

#create-playlist {
  margin-top: 25px;
}

.ant-menu-item {
  display: flex;
  justify-items: start;
  align-items: center;

  &-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-selected {
    border-radius: 4px;
  }
}


.ant-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $hover-color-for-light-items;
  color: $black0;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $black40;
  color: $white;
}
