@import "./src/config/colors";

.ant-menu.ant-menu-dark {
  background: $black0;
}

.menu {
  border: none;
  font-weight: bold;
}

.home-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 241px;

  img {
    width: 180px;
    height: 70px;
    text-align: start;
  }
}

#create-playlist, #favourite-tracks {
  display: flex;
  justify-items: start;
  align-items: center;
}

#create-playlist {
  margin-top: 25px;
}

.ant-menu-item {
  display: flex;
  justify-items: start;
  align-items: center;

  &-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-selected {
    border-radius: 4px;
  }
}


.ant-menu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $hover-color-for-light-items;
  color: $black0;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $black40;
  color: $white;
}
