$black: #111;
$white: #fff;
$grey: #b3b3b3;

$btn-green: #148a3f;
$btn-green_hover: #1db954;
$link-green: #056c05;
$link-green_hover: #0ac90a;

$lightgrey: #616467;
$darkgrey: #222326;

$red_error: #de2323;

$black32:  rgb(32, 32, 32);
$black40:  rgb(40, 40, 40);
$black50: rgb(50, 50, 50);
$black26: rgb(26, 26, 26);
$darkwhite: #c4c4c4;

